* {
    box-sizing: border-box;
}

a {
    display: inline-block;
    padding: 10px 50px;
    border: 5px solid #ffffff;
    font-size: 20px;
    font-family: arial;
    text-shadow: 2px 2px #000000;
    text-decoration: none;
    color: #ffffff;
    margin-top: 20px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Turret Road", sans-serif;
    background: #000000;
}

h1 {
    color: #FFEC99;
    font-size: 80px;
    text-transform: uppercase;
    margin: 0;
}

.banner-img {
    background-image: url(assets/avatar.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(20px);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-weight: bold;
    border: 10px inset #ffffff;
    text-shadow: 2px 2px #000000;
}

.banner-text p {
    padding: 0 8%;
    font-family: arial;
    font-size: 22px;
}

.glitch {
    position: relative;
    mix-blend-mode: lighten;
}

.glitch:before,
.glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    clip: rect(0, 0, 0, 0);
}

.glitch:before {
    left: -3px;
    text-shadow: 6px 0 #ff00ff;
}

.glitch:hover:before {
    text-shadow: 3px 0 #ff00ff;
    animation: glitch-anim-1 0.4s infinite ease-in-out alternate-reverse;
}

.glitch:after {
    left: 3px;
    text-shadow: -3px 0 #00ffc8;
}

.glitch:hover:after {
    text-shadow: -3px 0 #00ffc8;
    animation: glitch-anim-2 0.3s infinite ease-in-out alternate-reverse;
}

@keyframes glitch-anim-1 {
    0% {
        clip: rect(30px, 9999px, 10px, 0);
    }
    25% {
        clip: rect(15px, 9999px, 100px, 0);
    }
    50% {
        clip: rect(50px, 9999px, 105px, 0);
    }
    75% {
        clip: rect(2px, 9999px, 80px, 0);
    }
    100% {
        clip: rect(90px, 9999px, 100px, 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        top: -1px;
        left: 50px;
        clip: rect(65px, 9999px, 119px, 0);
    }
    25% {
        top: -10px;
        left: 1px;
        clip: rect(79px, 9999px, 19px, 0);
    }
    50% {
        top: -7px;
        left: 20px;
        clip: rect(65px, 9999px, 11px, 0);
    }
    75% {
        top: 10px;
        right: 20px;
        left: -50px;
        clip: rect(95px, 9999px, 53px, 0);
    }
    100% {
        top: -5px;
        left: -7px;
        clip: rect(31px, 9999px, 149px, 0);
    }
}

@font-face {
    font-family: "Turret Road";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/turretroad/v5/pxidypMgpcBFjE84Zv-fE0OxE-eMaEw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
                   U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
