production = False # automatically puts "b" in front of prefix if False
botToken = ""
prefix = "!"
activityName = "" # put "bitcoin" for auto Bitcoin prices
activityType = 0 # 0 (Playing) / 2 (Listening to) / 3 (Watching)
status = "online" # "online" / "idle" / "dnd" / "invisible"
statcordKey = "" # https://statcord.com/add
githubWebhooks = [] # before adding git log channel IDs (int) make a webhook at https://github.com/[username]/[repo]/settings/hooks
owmKey = "" # https://openweathermap.org/api
fixerKey = "" # https://fixer.io/signup/free
rapidApiKey = "" # https://docs.rapidapi.com/docs/keys
glotIoKey = "" # https://glot.io/account/token
blockCypherKey = "" # https://www.blockcypher.com/dev/
ethGasStationKey = "" # https://docs.ethgasstation.info/
redditClientID = "" # https://www.reddit.com/prefs/apps/
redditClientSecret = "" # https://www.reddit.com/prefs/apps/
deepAIKey = "" # https://deepai.org/dashboard/profile
wolframID = "" # https://developer.wolframalpha.com/portal/myapps/


def ready():
    return bool(botToken and statcordKey and owmKey and fixerKey and rapidApiKey and glotIoKey and blockCypherKey
                and ethGasStationKey and redditClientID and redditClientSecret and deepAIKey and wolframID)
