production = False
botToken = ""
prefix = "!"
activityName = ""
activityType = 0
status = "online"
creationDate = ""
cmcKey = ""
owmKey = ""
fixerKey = ""
rapidApiKey = ""
glotIoKey = ""
blockCypherKey = ""
bitmixRef = ""
