production = False # automatically puts "b" in front of prefix if False
githubRepo = "ryancflam/findseed"

botToken = ""
prefix = "!"
activityName = "" # put "bitcoin" for auto Bitcoin prices
activityType = 0 # 0 (Playing) / 2 (Listening to) / 3 (Watching)
status = "online" # "online" / "idle" / "dnd" / "invisible"

webServerHost = "0.0.0.0"
webServerPort = 8080
gitLogRoute = "/git"

owmKey = "" # https://openweathermap.org/api
exchangeratesapiKey = "" # https://manage.exchangeratesapi.io/quickstart
rapidApiKey = "" # https://docs.rapidapi.com/docs/keys
glotIoKey = "" # https://glot.io/account/token
blockCypherKey = "" # https://www.blockcypher.com/dev/
ethGasStationKey = "" # https://docs.ethgasstation.info/
redditClientID = "" # https://www.reddit.com/prefs/apps/
redditClientSecret = "" # https://www.reddit.com/prefs/apps/
wolframID = "" # https://developer.wolframalpha.com/portal/myapps/
geniusToken = "" # https://genius.com/api-clients


def ready():
    return bool(botToken and owmKey and exchangeratesapiKey and rapidApiKey and glotIoKey and blockCypherKey
                and ethGasStationKey and redditClientID and redditClientSecret and wolframID and geniusToken)
